# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
.venv/
venv/
env/

# Django
*.log
*.pot
*.py,cover
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# JSON
*.json
